@using LionHeart.Web.Models.Basket
@model BasketViewModel

<div class="container">
    @if (Model.Entries.Any())
    {
        <form class="row m-5" id="basket" method="post">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h3>Корзина</h3>
                    </div>
                    <div class="card-body" id="card-body">
                        @for(int i = 0; i < Model.Entries.Count; i++)
                        {
                            var entry = @Model.Entries[i];

                            <div class="row d-flex justify-content-center align-items-center text-center">
                                <input hidden asp-for="Entries[i].Id" id="id-@entry.Id" value="@entry.Id" />
                                <input hidden asp-for="Entries[i].UserId" id="customer-id-@entry.Id" value="@entry.UserId" />
                                <input hidden asp-for="Entries[i].ProductId" id="product-id-@entry.Id" value="@entry.ProductId" />
                                <input hidden asp-for="Entries[i].ProductPrice" id="info-price-@entry.Id" value="@entry.ProductPrice" />

                                <div class="col-2">
                                    <img src="/images/img1.jpg" class="img-thumbnail" style="width: 150px; border-radius: 25px">
                                </div>

                                <div class="col-4">
                                    <label id="label-info-name-@entry.Id">@entry.ProductName</label>
                                    <input hidden asp-for="Entries[i].ProductName" id="input-info-name-@entry.Id" value="@entry.ProductName" />
                                </div>

                                <div class="col-3 d-flex justify-content-center align-items-center text-center">
                                    <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;" onclick="subtract('@entry.Id')">-</a>

                                    <label id="label-quantity-@entry.Id" class="border-0 text-center" style="width: 40px; height: 40px; line-height:40px">@entry.ProductQuantity</label>
                                    <input hidden asp-for="Entries[i].ProductQuantity" id="input-quantity-@entry.Id" value="@entry.ProductQuantity" />

                                    <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;" onclick="add('@entry.Id')">+</a>
                                </div>

                                <div class="col-3 d-flex justify-content-end">
                                    @{
                                        var productsTotalPrice = (entry.ProductPrice * entry.ProductQuantity).ToString().Replace(",", ".");
                                    }
                                    <label id="label-products-total-price-@entry.Id" class="border-0 text-center bg-white" style="width: 80px; height: 40px; line-height:40px; border-bottom: 1px solid lightgray">@productsTotalPrice<span>р</span></label>
                                    <input hidden asp-for="Entries[i].ProductsTotalPrice" id="input-products-total-price-@entry.Id" value="@productsTotalPrice" />
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Итого:
                    </div>
                    <div class="card-body">
                        <div>
                            <div>
                                Товаров: @Model.Entries.Sum(e => e.ProductQuantity)
                            </div>
                            <div>
                                Стоимость всего:
                                <label id="label-basket-total-price-basket">@Model.BasketTotalPrice<span>р</span></label>
                                <input hidden asp-for="BasketTotalPrice" id="input-basket-total-price-basket" value="@Model.BasketTotalPrice" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button asp-action="CreateOrder" type="submit" class="btn btn-dark custom-btn" form="basket">Заказать</button>
                        <button hidden id="update-basket" asp-action="UpdateBasket" type="submit" class="btn btn-dark custom-btn" form="basket">Заказать</button>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="row m-5 text-center">
            <div>
                <h3>В корзине пока пусто</h3>
            </div>
            <div>
                <p>Загляните на главную, чтобы выбрать товары или найдите нужное в поиске</p>
            </div>
            <div>
                <a asp-action="Index" asp-controller="Products" class="btn btn-dark">Перейти на главную</a>
            </div>
        </div>
    }
</div>
<script>
    async function add(productInBasketID) {
        var quantityLabel = document.getElementById('label-quantity-' + productInBasketID);
        var quantityInput = document.getElementById('input-quantity-' + productInBasketID);

        var totalPriceLabel = document.getElementById('label-products-total-price-' + productInBasketID);
        var totalPriceInput = document.getElementById('input-products-total-price-' + productInBasketID);

        var basePrice = document.getElementById('info-price-' + productInBasketID);
        
        //quantityLabel.innerText = +quantityInput.value + 1;
        quantityInput.value = +quantityInput.value + 1;

        //totalPriceLabel.innerText = (parseFloat(totalPriceInput.value) + parseFloat(basePrice)).toFixed(1);
        totalPriceInput.value = (parseFloat(totalPriceInput.value) + parseFloat(basePrice)).toFixed(1);

        document.getElementById('update-basket').click();
    };

    async function subtract(productInBasketID) {
        var quantityLabel = document.getElementById('label-quantity-' + productInBasketID);
        var quantityInput = document.getElementById('input-quantity-' + productInBasketID);

        var totalPriceLabel = document.getElementById('label-products-total-price-' + productInBasketID);
        var totalPriceInput = document.getElementById('input-products-total-price-' + productInBasketID);

        var basePrice = document.getElementById('info-price-' + productInBasketID);

        if (+quantityInput.value >= 2) {
            quantityLabel.ariaValueText = +quantityInput.value - 1;
            quantityInput.value = +quantityInput.value - 1;

            totalPriceLabel.ariaValueText = (parseFloat(totalPriceInput.value) - parseFloat(basePrice)).toFixed(1);
            totalPriceInput.value = (parseFloat(totalPriceInput.value) - parseFloat(basePrice)).toFixed(1);

            document.getElementById('update-basket').click();
        }
    };

    async function updateProductQuantity(id, quantity) {
        await fetch("/Basket/UpdateProductQuantity", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                productid: id,
                productquantity: quantity
            })
        });
    };
</script>

