@using LionHeart.Web.Models.Basket
@model Basket;

<div class="container">
    @if (Model.Products.Any())
    {
        <form class="row m-5" id="basket" method="post">
            <input hidden asp-for="Id" id="id-basket" value="@Model.Id" />
            <input hidden asp-for="CustomerId" id="customer-id-basket" value="@Model.CustomerId" />
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h3>Корзина</h3>
                    </div>
                    <div class="card-body" id="card-body">
                        @for(int i = 0; i < Model.Products.Count; i++)
                        {
                            var product = @Model.Products[i];

                            <div class="row d-flex justify-content-center align-items-center text-center">
                                <input hidden asp-for="Products[i].Id" id="id-@product.Id" value="@product.Id" />
                                <input hidden asp-for="Products[i].ProductId" id="product-id-@product.Id" value="@product.ProductId" />
                                <input hidden asp-for="Products[i].CustomerId" id="customer-id-@product.Id" value="@product.CustomerId" />
                                <input hidden asp-for="Products[i].Information.Price" id="info-price-@product.Id" value="@product.Information.Price" />

                                <div class="col-2">
                                    <img src="/images/img1.jpg" class="img-thumbnail" style="width: 150px; border-radius: 25px">
                                </div>

                                <div class="col-4">
                                    <label id="label-info-name-@product.Id">@product.Information.Name</label>
                                    <input hidden asp-for="Products[i].Information.Name" id="input-info-name-@product.Id" value="@product.Information.Name" />
                                </div>

                                <div class="col-3 d-flex justify-content-center align-items-center text-center">
                                    <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;" onclick="subtract('@product.Id')">-</a>

                                    <label id="label-quantity-@product.Id" class="border-0 text-center" style="width: 40px; height: 40px; line-height:40px">@product.Quantity</label>
                                    <input hidden asp-for="Products[i].Quantity" id="input-quantity-@product.Id" value="@product.Quantity" />

                                    <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;" onclick="add('@product.Id')">+</a>
                                </div>

                                <div class="col-3 d-flex justify-content-end">
                                    @{
                                        var productsTotalPrice = (product.Information.Price * product.Quantity).ToString().Replace(",", ".");
                                    }
                                    <label id="label-products-total-price-@product.Id" class="border-0 text-center bg-white" style="width: 80px; height: 40px; line-height:40px; border-bottom: 1px solid lightgray">@productsTotalPrice</label>
                                    <input hidden asp-for="Products[i].ProductsTotalPrice" id="input-products-total-price-@product.Id" value="@productsTotalPrice" />
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Итого:
                    </div>
                    <div class="card-body">
                        <div>
                            <div>
                                Товаров: @Model.Products.Count
                            </div>
                            <div>
                                Стоимость всего:
                                <label id="label-basket-total-price-basket">@Model.BasketTotalPrice</label>
                                <input hidden asp-for="BasketTotalPrice" id="input-basket-total-price-basket" value="@Model.BasketTotalPrice" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button asp-action="CreateOrder" asp-controller="Orders" type="submit" class="btn btn-dark custom-btn" form="basket">Заказать</button>
                        <button hidden id="update-basket" asp-action="UpdateBasket" asp-controller="Basket" type="submit" class="btn btn-dark custom-btn" form="basket">Заказать</button>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="row m-5 text-center">
            <div>
                <h3>В корзине пока пусто</h3>
            </div>
            <div>
                <p>Загляните на главную, чтобы выбрать товары или найдите нужное в поиске</p>
            </div>
            <div>
                <a asp-action="Index" asp-controller="Products" class="btn btn-dark">Перейти на главную</a>
            </div>
        </div>
    }
</div>
<script>
    async function add(productInBasketID) {
        var quantityLabel = document.getElementById('label-quantity-' + productInBasketID);
        var quantityInput = document.getElementById('input-quantity-' + productInBasketID);

        var totalPriceLabel = document.getElementById('label-products-total-price-' + productInBasketID);
        var totalPriceInput = document.getElementById('input-products-total-price-' + productInBasketID);

        var basePrice = document.getElementById('info-price-' + productInBasketID);
        
        quantityLabel.textContent = +quantityInput.value + 1;
        quantityInput.value = +quantityInput.value + 1;

        totalPriceLabel.textContent = (parseFloat(totalPriceInput.value) + parseFloat(basePrice)).toFixed(1);
        totalPriceInput.value = (parseFloat(totalPriceInput.value) + parseFloat(basePrice)).toFixed(1);

        document.getElementById('update-basket').click();
    };

    async function subtract(productId, basePrice) {
        var counter = document.getElementById('quantity-' + productId);
        var price = document.getElementById('price-' + productId);

        if (+counter.value >= 2) {
            counter.value = counter.value - 1;
            price.value = (parseFloat(price.value) - parseFloat(basePrice)).toFixed(1);

            updateProductQuantity2();
            //await updateProductQuantity(productId, counter.value);

            //await process();
        }
    };

    async function updateProductQuantity(id, quantity) {
        await fetch("/Basket/UpdateProductQuantity", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                productid: id,
                productquantity: quantity
            })
        });
    };

    async function process() {
        document.getElementById('total-price-button').click();
    };
</script>

