@using LionHeart.Web.Models.Profile;
@model IndexViewModel

@{
    ViewBag.Title = $"Профиль: {Model.LastName} {Model.FirstName}";
}

<div class="site-body-container" style="color:#930667">
    <div class="card">
        <div class="card-header" style="background-color:#930667">
            <div class="row">
                <div class="col d-flex justify-content-start gap-3">
                    <a asp-action="Index" asp-controller="Favorites" class="nav-link site-nav-item">Избранное</a>
                    <a asp-action="Index" asp-controller="Profile" class="nav-link site-nav-item">Покупки</a>
                    <a asp-action="Index" asp-controller="Profile" class="nav-link site-nav-item">Уведомления</a>
                </div>
                <div class="col d-flex justify-content-end align-items-center" style="color: white;">
                    <label>Ваша скидка составляет: @Model.PersonalDiscount %</label>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div>
                    <div class="card p-3 border-0 bg-light">
                        <form class="m-3">
                            <div class="mb-3 row">
                                <div class="col-2 text-center">
                                    <img src="https://ui-avatars.com/api/?size=128&background=930667&color=CCCCFF&name=@Model.FirstName + @Model.LastName" class="img-thumbnail" style="border-radius: 25px;">
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <div class="w-100">
                                        <label for="inputEmail" class="form-label">Почта</label>
                                        <input type="email" readonly class="form-control custom-input" id="inputEmail" value="@Model.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row text-center align-items-center">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control custom-input" id="inputFirstName" value="@Model.FirstName">
                                </div>
                            </div>
                            <div class="mb-3 row text-center align-items-center">
                                <label for="inputLastName" class="col-sm-2 col-form-label">Фамилия</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control custom-input" id="inputLastName" value="@Model.LastName">
                                </div>
                            </div>
                            <div class="mb-3 row text-center align-items-center">
                                <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control custom-input" id="inputPhoneNumber" value="@Model.PhoneNumber">
                                </div>
                            </div>
                            <div class="m-5 row">
                                <div class="d-flex justify-content-end text-end">
                                    <a asp-action="EditUser" class="btn btn-grad w-25">Изменить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>