@using LionHeart.Core.Interfaces.Services
@using LionHeart.Web.Models.Products
@model EditProductViewModel
@inject ICategoryService categoryService;

@{
    ViewBag.Title = "Редактирование товара";
}

<div class="site-body-container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="m-5 w-50 main-color">
        <form asp-action="EditProduct" method="post" class="card">
            <input hidden asp-for="Id" value="@Model.Id" />
            <div class="p-3 main-theme ">
                <h3 class="text-center m-0 ">Редактирование товара</h3>
            </div>
            <div class="bg-light p-4">
                <div class="mb-3">
                    <label class="form-label">Название</label>
                    <input asp-for="Name" type="text" class="form-control custom-input" placeholder="Введите название товара" value="@Model.Name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Категория</label>
                    <select asp-for="CategoryId" class="form-select custom-input">
                        <option value="@Model.CategoryId" selected>@Model.CategoryName</option>
                        @foreach (var category in (await categoryService.GetAll()).Data)
                        {
                            if (category.Name != Model.CategoryName)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Цена</label>
                    <input asp-for="Price" type="number" class="form-control custom-input" placeholder="Введите цену товара" value="@Model.Price">
                </div>
                <div class="mb-3">
                    <label class="form-label">Количество</label>
                    <input asp-for="Quantity" type="number" class="form-control custom-input" placeholder="Введите количество товара" value="@Model.Quantity">
                </div>
                <div class="mb-3">
                    <label class="form-label">Описание</label>
                    <textarea asp-for="Description" class="form-control custom-input" rows="3" placeholder="Расскажите о товаре">@Model.Description</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Характеристики</label>
                    <textarea asp-for="Specifications" class="form-control custom-input" rows="3" placeholder="Введите характеристики товара">@Model.Specifications</textarea>
                </div>
                <div class="mt-4">
                    <button class="btn btn-grad m-0">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>