@using LionHeart.Web.Models.Products
@model List<IndexViewModel>
@{
    var userId = userManager.GetUserId(User);
}
<div class="container-fluid">
    <div class="row row-cols-sm-auto m-5 justify-content-center">
        @foreach (var indexModel in Model)
        {
            <div>
                <div class="card">
                    <form class="col-3">
                        <a asp-action="Show" asp-controller="Products" asp-route-id="@indexModel.Product.Id" class="border-0 bg-white text-center" style="text-decoration:none; color:black">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/img1.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">@indexModel.Product.Name</h5>
                                    <p class="card-text text-truncate">@indexModel.Product.Description</p>
                                </div>
                            </div>
                        </a>
                    </form>
                </div>
                <div class="card">
                    @if (indexModel.IsInBasket)
                    {
                        <form method="post" id="form-post" asp-action="RemoveFromBasket" asp-controller="Basket" asp-route-userId="@userId" asp-route-productId="@indexModel.Product.Id">
                            <button class="btn btn-dark custom-btn" style="width:100%" form="form-post">Убрать из корзины</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" id="form-post" asp-action="AddToBasket" asp-controller="Basket" asp-route-userId="@userId" asp-route-productId="@indexModel.Product.Id">
                            <button class="btn btn-dark custom-btn" style="width:100%" form="form-post">В корзину</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</div>