@using LionHeart.Web.Models
@using LionHeart.Web.Models.Products
@model ShowProductViewModel

@{
    ViewBag.Title = $"Товар: {Model.Name}";
}

<div class="site-body-container">
    <div class="row">
        <div class="col-5 mt-5">
            <div id="carouselExample" class="carousel slide show-product">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/@Model.ImageName" class="img-thumbnail show-product border-0">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/@Model.ImageName" class="img-thumbnail show-product border-0">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/@Model.ImageName" class="img-thumbnail show-product border-0">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="p-4">
                <h3>@Model.Name</h3>
                <p>
                    @await Html.PartialAsync("/Views/Feedbacks/ShowFeedbackCounter.cshtml",
                             new ShowFeedbackCounterViewModel { TotalRating = Model.TotalRating, FeedbackQuantity = Model.FeedbackQuantity })
                </p>
                <p>@Model.Description</p>
                <p>@Model.Specifications</p>
            </div>
        </div>
        <div class="col-3 mt-5">
            <div class="main-color fw-bold w-75 d-flex p-2">
                <div class="fs-4 pt-2 pb-2 pe-2 col-6">@Model.Price ₽</div>
                <div class="col-6 text-end">
                    @if (Model.IsInFavorites)
                    {
                        <a class="btn fs-4" id="toFavorites" onclick="removeFromFavorites('@Model.Id')">❤</a>
                    }
                    else
                    {
                        <a class="btn fs-4" id="toFavorites" onclick="addToFavorites('@Model.Id')">⁠🤍</a>
                    }
                </div>
            </div>

            @if (Model.IsDeleted)
            {
                <a disabled class="btn btn-grad w-75 m-0">Удален</a>
            }
            else if (!Model.IsInStock)
            {
                <a disabled class="btn btn-grad w-75 m-0">Нет в наличии</a>
            }
            else
            {
                if (Model.IsInBasket)
                {
                    <a onclick="removeFromBasket('@Model.Id')" class="btn btn-grad w-75 m-0">Убрать из корзины</a>
                }
                else
                {
                    <a onclick="addToBasket('@Model.Id')" class="btn btn-grad w-75 m-0">В корзину</a>
                    <a onclick="buyProduct('@Model.Id')" class="btn btn-grad w-75 m-0 mt-2">Купить сейчас</a>
                }
            }
            @if (Model.WriteFeedback)
            {
                <a asp-action="CreateFeedback" asp-controller="Feedbacks" asp-route-productId="@Model.Id" class="btn btn-grad w-75 m-0 mt-5">Написать отзыв</a>
            }
        </div>
    </div>
    <div class="row">
        <br />
        <br />
        @if (Model.HasFeedbacks)
        {
            <div class="d-flex justify-content-center">
                <button id="load-feedbacks" class="btn btn-grad w-50 p-4">Посмотреть отзывы</button>
            </div>
            <div id="feedbacks-content"></div>
        }
    </div>
</div

@section Scripts {
    <script>
        $("#load-feedbacks").click(function (event) {
            $("#load-feedbacks").hide();
            $.ajax({
                url: "/Feedbacks/ListFeedbacks?productId=@Model.Id",
                type: "GET",
                success: function (response) {
                    $("#feedbacks-content").empty();
                    $("#feedbacks-content").html(response);
                    $(response).find('script').each(function () {
                        let scriptContent = $(this).text();
                        try {
                            eval(scriptContent);
                        } catch (error) {
                            console.error("Ошибка при выполнении JavaScript кода:", error);
                        }
                    });
                },
                error: function (error) {
                    console.error("Ошибка при выполнении AJAX-запроса:", error);
                }
            });
        });
    </script>

}