@using LionHeart.Web.Models.Feedbacks
@model ListFeedbacksViewModel

<div id="feedbacks">
    @foreach (var feedback in Model.Feedbacks)
    {
        <div class="card">
            <div class="card-header" style="background-color:#930667; color:white; ">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="p-3">@feedback.FirstName</div>
                    <div>
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < feedback.Rating)
                            {
                                <label style="color: yellow">★</label>
                            }
                            else
                            {
                                <label>★</label>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-0">
                    <p>@feedback.Content</p>
                    <footer class="blockquote-footer fst-italic mt-1">@feedback.CreatedAt.ToLocalTime().ToString("dd MMMM yyyy, HH:mm")</footer>
                </div>
            </div>
        </div>
        <br />
    }
    <div class="text-end">
        @if (Model.HasPreviousPage)
        {
            <a asp-action="ShowProduct" asp-controller="Products" asp-route-productId="@Model.ProductId" asp-route-feedbackPageNumber="@(Model.PageNumber - 1 )" class="custom-btn-link btn">Назад</a>
        }
        @if (Model.HasNextPage)
        {
            <a asp-action="ShowProduct" asp-controller="Products" asp-route-productId="@Model.ProductId" asp-route-feedbackPageNumber="@(Model.PageNumber + 1 )" class="custom-btn-link btn">Вперед</a>
        }
    </div>
</div>