@using LionHeart.BusinessLogic.Helpers
@using LionHeart.Web.Models.Order
@model IndexViewModel

@{
    ViewBag.Title = "Список заказов";
}

<div class="site-body-container">
    <table class="table text-center bg-light" style="color: #930667">
        <thead class="main-theme border-1">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Продукт</th>
                <th scope="col">Цена ед.</th>
                <th scope="col">Количество</th>
                <th scope="col">Дата заказа</th>
            </tr>
        </thead>
        <tbody class="border-1">
            @{
                int rowNumber = 1 + (Model.PageNumber - 1) * PageHelper.PageSize;
                foreach (var order in Model.Orders.OrderBy(o => o.CreatedAt))
                {
                    <tr>
                        <th scope="row">@rowNumber</th>
                        <td>@order.ProductName</td>
                        <td>@order.ProductPrice</td>
                        <td>@order.ProductQuantity</td>
                        <td>@order.CreatedAt.ToLocalTime().ToString("dd MMMM yyyy, HH:mm")</td>
                    </tr>
                    rowNumber++;
                }
            }
        </tbody>
    </table>
    <div class="text-end">
        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" class="custom-btn-link btn">Назад</a>
        }
        @if (Model.HasNextPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" class="custom-btn-link btn">Вперед</a>
        }
    </div>
</div>