@model List<Order>

<div class="site-body-container">
    <table class="table text-center bg-light" style="color: #930667">
        <thead class="main-theme border-1">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Продукт</th>
                <th scope="col">Цена ед.</th>
                <th scope="col">Количество</th>
                <th scope="col">Дата заказа</th>
            </tr>
        </thead>
        <tbody class="border-1">
            @{
                int rowNumber = 1;
            }
            @foreach (var order in Model.OrderBy(o => o.CreateAt))
            {
                foreach (var orderItem in order.Items)
                {
                    var product = orderItem.Product;

                    if (product is null) continue;

                    <tr>
                        <th scope="row">@rowNumber</th>
                        <td>@product.Name</td>
                        <td>@orderItem.ProductPrice</td>
                        <td>@orderItem.ProductQuantity</td>
                        <td>@order.CreateAt.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                    </tr>

                    rowNumber++;
                }
            }
        </tbody>
    </table>
 </div>